// Put your custom CSS here!
// You can reference all variables in the Berkeley files

// Create QQCR Labels
.label-req:not(g) {
    background-color: $req-color;    // dark magenta
}
.label-rec:not(g) {
  background-color: $project-color;      // rose
}
.label-opt:not(g) {
  background-color: $exam-color;      // blue purple?
  color: $block-text-color;      
}
.label-h195:not(g) {
  background-color: $disc-color;      // also dark magenta // may not be accessible, check color
}
